<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for membres in site.data.settings.membres %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ membres.name }}</h4>
        <p>{{ membres.title }} | {{ membres.department }}</p>
        <p>{{ membres.institution }} | {{ membres.institution_address }}</p>
        <p>Phone: {{ membres.phone }}</p>
        <p>Email: {{ membres.email }}</p>
        <p>Office: {{ membres.office }}</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/{{ membresimage }}" alt="membres" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
